a {
	text-decoration: none;
	align-self: center;
}

body {
	width: 1280px;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.centred {
	justify-content: center;
	align-items: center;
}

.justify-space-between {
	justify-content: space-between;
}

header {
	display: flex;
	width: 100%;
	height: 680px;

	border: 1px solid black;
}

.white {
	color: #fff;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 85px;
	letter-spacing: 0.05em;
	margin: 0;
}

h2 {
	font-weight: 700;
	font-size: 42px;
	line-height: 49px;
	letter-spacing: 0.05em;

	color: #303030;
}

h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */

	letter-spacing: 0.02em;

	color: #555555;
}

.icon-and-socials {
	width: 155px;
	height: 100%;
	background-color: indianred;
}

.nav-and-hero-main-container {
	width: calc(1280px - 115px);
	height: 100%;
	background-image: url('/images/hero-image.png');
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-and-hero-container {
	width: 1016px;
	height: 600px;
	/* background-color: mediumseagreen; */
}

.navbar-and-contacts {
	width: 100%;
	height: 48px;
	padding-left: 100px;
	justify-content: space-between;
	align-items: center;
}

.hero-text {
	width: 500px;
	height: 202px;
	margin-top: 184px;
	margin-left: 100px;
	/* background-color: rgb(226, 120, 55); */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;

	letter-spacing: 0.02em;
	margin: 0;
	color: #b8bfd9;
}

.rect-icon {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}

.rect-icon::before,
.rect-icon::after {
	content: '';
	width: 60px;
	height: 3px;
	background-size: contain;
}

.rect-icon::before {
	background-image: url('/images/rectangle.svg');
	margin-right: 15px;
}

.nav-items {
	width: 405px;
	justify-content: space-between;
}

.nav-item {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1em;

	color: #ffffff;
}

.nav-item:hover {
	color: #ff6c00;
	cursor: pointer;
}

.contact-us-button {
	margin-left: 40px;
	border: 1px solid #ff6c00;
	border-radius: 25px;
	width: 160px;
	height: 40px;
	background-color: transparent;
}

/* ABOUT SECTION STYLING */

.about-section {
	width: 100%;
	height: 705px;
	display: flex;
}

.about-container {
	margin: 130px 91px 130px 55px;
	width: calc(100% - 55px - 91px);
	height: calc(100% - 130px - 130px);

	display: flex;
	justify-content: space-between;
}

.about-deco-image {
	width: 270px;
	height: 100%;
}

.about-deco-image:nth-child(1) {
	background-image: url('/images/about-1.png');
}

.about-deco-image:nth-child(2) {
	background-image: url('/images/about-2.png');
}

.about-text-info {
	width: 500px;
	height: 100%;
	margin-left: 24px;
}

.about-section-about-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	/* identical to box height */

	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #303030;
}

.about-section-about-description {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: #555555;
}

.services-and-prices-section {
	width: 100%;
	height: 718px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #111319;
	background-image: url('/images/prices-and-services-bg.png');
}

.services-and-prices-container {
	width: calc(100% - 55px - 55px);
	height: calc(100% - 130px - 130px);
}

.sp-info {
	width: 100%;
	height: 15px;
	margin: 0px;
}

.services-and-prices-container > h2 {
	/* Services and Prices */
	margin: 20px 0px 46px 0px;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 49px;
	letter-spacing: 0.05em;

	color: #FFFFFF;
}

.pricing-details{
	width: 100%;
	height: 240px;
	margin-bottom: 48px;}

.pricing-card{
	width: 50%;
	height: 100%;
	padding: 28px 42px 32px 38px;
}

.pc-left{
	background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.pc-right{
	background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.sp-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	height: 30px;
	color: #9DA4BD;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	/* background: tomato; */
}

.sp-line {
	height: 20px;
	border-bottom: 2px solid rgba(157, 164, 189, 0.12);
}

.sp-line-one {
	width: 268px;
}

.sp-line-two {
	width: 293px;
}

.sp-line-three {
	width: 259px;
}

.sp-line-four {
	width: 210px;
}
